# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# venv
.venv/
env/
venv/

# VSCode
.vscode/

# Byte-compiled / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
